1. install sqlalchemy
2. install pymysql

In [20]:
import pymysql
import pandas as pd

In [21]:
db = pymysql.connect(host="localhost", user = "root", password = "root", database = "company")
cursor = db.cursor()

In [26]:
employee = "SELECT * FROM employees"
cursor.execute(employee)

data_employee = cursor.fetchall()
kolom_employee = [kolom[0] for kolom in cursor.description]

df_employee = pd.DataFrame(data_employee, columns=kolom_employee)
total_gaji = df_employee["salary"].sum()
total_gaji

Decimal('280000.00')