VARIABEL

In [8]:
nama = "emi"
_nama = "william"
__nama = "agung"
nama_depan = "test"
namaDepan = "wahyu"

print(nama)
print("Nama :", nama)

emi
Nama : emi

In [10]:
print(nama)
nama = "koding akademi"
print(nama)
del (nama) # del = fungsi hapus variabel
print(nama)

NameError: name 'nama' is not defined

TIPE DATA

In [17]:
nama = "agung 10" # str / string (tipe data menyimpan huruf / tulisan)
karakter = 'a' # char
angka = 10 # int / integer (tipe data menyimpan bilangan bulat)
koma = 10.5 # float (tipe data menyimpan bilangan desimal)
benar = True # boolean (tipe data menyimpan true / false)
salah = False

print("nama :", nama, "tipe data :", type(nama))

nama : agung 10 tipe data : <class 'str'>

KONVERSI

In [20]:
angka1 = 40 
angka1_int = float(angka1)

print(angka1)
print(type(angka1))

print(angka1_int)
print(type(angka1_int))

10.5
<class 'float'>
10
<class 'int'>

ASSIGNMENT

In [21]:
# No 4 

angka1 = 10
angka2 = 0.5

print("Type integer =", angka)

Type integer = 10

In [22]:
angka1 = 45
angka2 = 0.667

angka1_float = float(angka1)

print(angka1_float)

45.0

INPUT & OUTPUT

In [27]:
nama = input("Nama :")
print("halo", nama)
print(type(nama))

halo agung
<class 'str'>

In [29]:
angka = int(input("Angka :"))
print(angka)
print(type(angka))

20
<class 'int'>

In [33]:
print("hello \nworld")
print("world")

hello
world
world

In [43]:
print("halo ", end = "# ")
print("teman", end = " !")

halo # teman !

In [45]:
print("a","b","c", sep = "#")

a#b#c

FORMAT

In [55]:
nama = "agung"
alamat = "canggu"
angka = 10

print("nama :",nama,"alamat :",alamat) # cara1
print(f"nama : {nama} alamat : {alamat}") # cara2
print("nama : {} alamat : {}".format(nama, alamat)) # cara3
print("nama : {1} alamat : {0}".format(nama, alamat)) # cara4
print("nama : {a} alamat : {b}".format(a = nama, b = alamat)) # cara5
print("nama : %s alamat : %s angka : %d" %(nama, alamat, angka)) # cara6

nama : agung alamat : canggu
nama : agung alamat : canggu
nama : agung alamat : canggu
nama : canggu alamat : agung
nama : agung alamat : canggu
nama : agung alamat : canggu angka : 10

ASSIGNMENT

In [57]:
nama = input("masukan nama : ")

print(f"Halo {nama} selamat data di koding akademi")

Halo robert selamat data di koding akademi