FUNCTION LAMBDA

In [1]:
def tampil(a):
    print(a)

tampil("agung")

agung

In [4]:
tambah = lambda a,b: a + b
print(tambah(10,20))

30

ASSIGNMENT

In [15]:
def tambah(*a): 
    hasil = 0 
    for i in a: 
        hasil = hasil + i 
        
    return hasil

total = tambah(1,2,3,4,5,6,7,8,9,10)

rata = (lambda a: a / 10)(total)

print(rata)

5.5

PANDAS

PANDAS SERIES = DATA HANYA BERUPA ROW (BARIS)

PANDAS DATAFRAME = DATA YANG BERUPA BARIS DAN KOLOM

In [19]:
import pandas as pd 

data = ["apple",2,3,4]

series = pd.Series(data)
dataframe = pd.DataFrame(data)

print(series)
print(dataframe)

0    apple
1        2
2        3
3        4
dtype: object
       0
0  apple
1      2
2      3
3      4

PANDAS SERIES

In [23]:
data = ["1","2","3"]

series = pd.Series(data, index = ["satu", "dua", "tiga"])
series

satu    1
dua     2
tiga    3
dtype: object

In [24]:
data = {
    "satu" : 1,
    "dua" : 2,
    "tiga" : 3
}
series = pd.Series(data)
series

satu    1
dua     2
tiga    3
dtype: int64

In [27]:
data = ["1","2","3"]

series = pd.Series(data, index = ["satu", "dua", "tiga"])

print(series)
print(series["satu"])
print(series["dua"])

satu    1
dua     2
tiga    3
dtype: object
1
2

In [29]:
data = [1,2,3,4,5]

series = pd.Series(data)

print(series[0:4])

0    1
1    2
2    3
3    4
dtype: int64

LOC & ILOC

In [36]:
data = [1,2,3,4,5]

series1 = pd.Series(data)
series2 = pd.Series(data, index = ["satu", "dua", "tiga", "empat", "lima"])

# LOC (tanpa menggunakan batas)

print(series1.loc[0 : 4])
print(series2.loc["satu" : "empat"])

# ILOC (menggunakan batas)

print(series2.iloc[0 : 4])

0    1
1    2
2    3
3    4
4    5
dtype: int64
satu     1
dua      2
tiga     3
empat    4
dtype: int64
satu     1
dua      2
tiga     3
empat    4
dtype: int64

In [39]:
print(series1)
print(series1.values)

0    1
1    2
2    3
3    4
4    5
dtype: int64
[1 2 3 4 5]

CONDITIONAL SELECTION

In [40]:
data = [2000,3000,1000,5000,3500]

series = pd.Series(data)
series

0    2000
1    3000
2    1000
3    5000
4    3500
dtype: int64

SERIES OPERATOR LOGIKA & PERBANDINGAN

In [42]:
series > 2000

0    False
1     True
2    False
3     True
4     True
dtype: bool

In [44]:
series[series > 2000]

1    3000
3    5000
4    3500
dtype: int64

In [45]:
series[(series > 2000) & (series < 3500)]

1    3000
dtype: int64

SERIES OPERATOR ARITMATIKA

In [56]:
data = [2000,3000,1000,5000,3500]

series = pd.Series(data)
series

0    2000
1    3000
2    1000
3    5000
4    3500
dtype: int64

In [58]:
series = series + 1000

In [59]:
series

0    3000
1    4000
2    2000
3    6000
4    4500
dtype: int64

In [72]:
data1 = [2000,3000,1000,5000,3500]
data2 = [1000,2000,3000,4000,5000]

series1 = pd.Series(data1)
series2 = pd.Series(data2)

hasil = series1 + series2
print(hasil)

0    3000
1    5000
2    4000
3    9000
4    8500
dtype: int64

In [74]:
data1 = [2000,3000,1000,5000,3500]

series1 = pd.Series(data1)

tambah = series1.add(series2)
kurang = series1.subtract(series2)
sum = series1.sum()
rata = series1.mean()

print(tambah)
print(kurang)
print(sum)
print(rata)

0    3000
1    5000
2    4000
3    9000
4    8500
dtype: int64
0    1000
1    1000
2   -2000
3    1000
4   -1500
dtype: int64
14500
2900.0

In [68]:
data1 = [2000,3000,1000,5000,3500]

series1 = pd.Series(data1)

print(series1)

series1 = series1.astype(float)

print(series1)

0    2000
1    3000
2    1000
3    5000
4    3500
dtype: int64
0    2000.0
1    3000.0
2    1000.0
3    5000.0
4    3500.0
dtype: float64

In [70]:
data1 = [2000,3000,1000,5000,3500]

series1 = pd.Series(data1)

print(series1)

series1[0] = 10000

print(series1)

0    2000
1    3000
2    1000
3    5000
4    3500
dtype: int64
0    10000
1     3000
2     1000
3     5000
4     3500
dtype: int64

ASSIGNMENT

In [77]:
data = [408, 943, 902]
series = pd.Series(data, index = ["januari", "februari", "maret"])
series

januari     408
februari    943
maret       902
dtype: int64

In [79]:
rata = series.mean()
print(rata)

751.0

In [83]:
series[series > rata] = rata

print(series)

januari     408
februari    751
maret       751
dtype: int64