In [4]:
alamat = ["denpasar", "canggu", "tabanan"]
nama = "agung"

print(alamat[0])
print(alamat[1])
print(alamat[2])

denpasar
canggu
tabanan

In [8]:
#foreach
for i in alamat:
    print(i)

for i in range(len(alamat)):
    print(alamat[i])

denpasar
canggu
tabanan
denpasar
canggu
tabanan

ACCESSING LIST

In [21]:
alamat = ["denpasar", "canggu", "tabanan", "gianyar"]

print(alamat[0])

# slicing

print(alamat[0 : 2]) # [start : batas]
print(alamat[1 :])
print(alamat[-1])
print(alamat[-3])
print(alamat[-3 :])
print(alamat[0 : 3 : 2]) # [start : batas : step]
print(alamat[::-1])

denpasar
['denpasar', 'canggu']
['canggu', 'tabanan', 'gianyar']
gianyar
canggu
['canggu', 'tabanan', 'gianyar']
['denpasar', 'tabanan']
['gianyar', 'tabanan', 'canggu', 'denpasar']

UPDATE LIST

In [23]:
alamat = ["denpasar", "canggu", "tabanan", "gianyar"]
alamat[0] = "badung"
print(alamat)

['badung', 'canggu', 'tabanan', 'gianyar']

In [24]:
alamat = ["denpasar", "canggu", "tabanan", "gianyar"]
alamat.append("surabaya")
print(alamat)

['denpasar', 'canggu', 'tabanan', 'gianyar', 'surabaya']

In [26]:
alamat = ["denpasar", "canggu", "tabanan", "gianyar"]
alamat.insert(1, "Surabaya")
print(alamat)

['denpasar', 'Surabaya', 'canggu', 'tabanan', 'gianyar']

DELETE LIST

In [27]:
alamat = ["denpasar", "canggu", "tabanan", "gianyar"]
del alamat[1]
print(alamat)

['denpasar', 'tabanan', 'gianyar']

In [28]:
alamat = ["denpasar", "canggu", "tabanan", "gianyar"]
alamat.remove("tabanan")
print(alamat)

['denpasar', 'canggu', 'gianyar']

In [29]:
alamat = ["denpasar", "canggu", "tabanan", "gianyar"]
hapus = alamat.pop(1)
print(alamat)
print(hapus)

['denpasar', 'tabanan', 'gianyar']
canggu

LIST COMBINE

In [30]:
alamat1 = ["denpasar", "canggu"]
alamat2 = ["Gianyar", "Badung"]
hasil = alamat1 + alamat2
print(hasil)

['denpasar', 'canggu', 'Gianyar', 'Badung']

In [31]:
alamat1 = ["denpasar", "canggu"]
hasil = alamat1 * 2
print(hasil)

['denpasar', 'canggu', 'denpasar', 'canggu']

LIST MULTIDIMENSI

In [34]:
data = [
    [0,1,2],
    [3,4,5],
    [6,7,8]
]

print(data[0])
print(data[1][1])

[0, 1, 2]
4

In [37]:
for i in data:
    print(i)
    for x in i:
        print(x)

[0, 1, 2]
0
1
2
[3, 4, 5]
3
4
5
[6, 7, 8]
6
7
8

In [38]:
data = [i ** 2 for i in range(5)] 

print(data)

[0, 1, 4, 9, 16]

MAP

In [41]:
a, b, c = map(float, [1,2,3])

print(a)
print(b)
print(c)

1.0
2.0
3.0

SPLIT

In [44]:
data = input("masukan kata : ").split()
print(hasil)

['test1', 'test2', 'test3']

MAP & SPLIT

In [45]:
a, b, c = map(float, input("angka : ").split())

print(a)
print(b)
print(c)

1.0
2.0
3.0

In [49]:
data = [1,2,3,4]
test = list("halo")
print(data)
print(test)

[1, 2, 3, 4]
['h', 'a', 'l', 'o']

LIST , MAP, SPLIT

In [51]:
data = list(map(float, input("angka : ").split()))

print(data)

[1.0, 2.0, 3.0, 4.0, 5.0, 6.0]

In [ ]:
kosong = ["kosong"]
aktif = [True]
test = [1, "satu", True, 2.0]

# string = huruf / kalimat
# int = bilangan bulat
# float = bilangan desimal

In [53]:
cek_panjang = input("angka : ").split()

if len(cek_panjang) > 10:
    print(True)
else:
    print(False)

False

In [60]:
mystr = "welcome to koding akademi"

print(mystr[0:3])

wel

DICTIONARY

In [63]:
data = {
    "nama" : "agung",
    "alamat" : "denpasar"
}

print(data["nama"])
print(data["alamat"])

agung
denpasar

In [64]:
data = dict(nama = "agung", alamat = "denpasar")

print(data["nama"])
print(data["alamat"])

agung
denpasar

In [67]:
data = {
    "nama" : "agung",
    "alamat" : "denpasar"
}

for i in data:
    print(i)
    print(data[i])

nama
agung
alamat
denpasar

UPDATE DICTIONARY

In [68]:
data = {
    "nama" : "agung",
    "alamat" : "denpasar"
}

data["nama"] = "wahyu"

print(data)

{'nama': 'wahyu', 'alamat': 'denpasar'}

DELETE DICTIONARY

In [69]:
data = {
    "nama" : "agung",
    "alamat" : "denpasar"
}

del data["nama"]

print(data)

{'alamat': 'denpasar'}

In [70]:
data = {
    "nama" : "agung",
    "alamat" : "denpasar"
}

hapus = data.pop("nama")

print(data)
print(hapus)

{'alamat': 'denpasar'}
agung

ADD DICTIONARY

In [71]:
data = {
    "nama" : "agung",
    "alamat" : "denpasar"
}

data.update({"status" : "lajang"})
print(data)

{'nama': 'agung', 'alamat': 'denpasar', 'status': 'lajang'}

In [78]:
data = [1,2,3,4,5,6,10,8,5,10]
data2 = {1,2,3,4,5,6,10,8,5,10}

print(data)
print(data2)

[1, 2, 3, 4, 5, 6, 10, 8, 5, 10]
{1, 2, 3, 4, 5, 6, 8, 10}

In [81]:
# struktur data list, set

# list = []
# set = {}

data = [1,2,3,4,5,6,10,8,5,10]
data2 = {1,2,3,4,5,6,10,8,5,10}

data.append(67)
data2.update({67})

print(data)
print(data2)

[1, 2, 3, 4, 5, 6, 10, 8, 5, 10, 67]
{1, 2, 3, 4, 5, 6, 67, 8, 10}

In [86]:
test = [input("angka : ")]
test2 = {
    "nama" : input("silahkan masukan nama : ")
}
print(test)
print(test2)

['10']
{'nama': 'robert'}

In [ ]:
data = {
    "nama" : input("silahkan masukan nama : "),
    "alamat" : input("silahkan masukan alamat : "),
}

print(f"Nama = {data["nama"]}")

In [89]:
buku = {
    "action" : "marvel",
    "romance" : "twillight"
}

kondisi = input("tambah / hapus : ")

if kondisi == "tambah":
    jenis = input("masukan jenis : ")
    judul = input("masukan buku : ")
    buku.update({jenis : judul})
    print(buku)
elif kondisi == "hapus":
    jenis = input("masukan jenis buku yang di hapus : ")
    del buku[jenis]
    print(buku)

{'romance': 'twillight'}