LOOPING

In [1]:
print("koding akademi")
print("koding akademi")
print("koding akademi")
print("koding akademi")

koding akademi
koding akademi
koding akademi
koding akademi

FOR LOOPS

In [5]:
for i in range(4): # i = 2
    print(i)
    print("koding akademi")

0
koding akademi
1
koding akademi
2
koding akademi
3
koding akademi

In [6]:
for i in range(1, 5): # (start, batas)
    print(i)

1
2
3
4

In [7]:
for i in range(1, 5, 2): # (start, batas, langkah)
    print(i)

1
3

In [16]:
nama = "agung"

print(nama[0])
print(nama[1])

a
g

In [17]:
nama = "agung"

# foreach
for i in nama:
    print(i)

a
g
u
n
g

In [19]:
nama = "agung"

# for
for i in range(0, 5): 
    print(nama[i])

g
u
n
g

WHILE LOOPS

In [21]:
while False:
    print("koding akademi")

In [24]:
username = "admin" # user

while username == "admin": # false
    print(username)
    username = "user"

admin

In [26]:
username = "admin" # user

while username == "admin": # false
    print(username)
    break

admin

In [29]:
while True:
    break

print("hello")

hello

In [30]:
while True:
    print("pilih menu : ")
    print("1. nasi goreng")
    print("2. sate ayam")
    print("3. keluar")
    
    kondisi = input("pilih menu : ")
    
    if kondisi == "1":
        print("nasi goreng")
    elif kondisi == "2":
        print("sate ayam")
    elif kondisi == "3":
        print("sistem keluar !!")
        break
    else:
        print("inputan salah !")

pilih menu :
1. nasi goreng
2. sate ayam
3. keluar
nasi goreng
pilih menu :
1. nasi goreng
2. sate ayam
3. keluar
sate ayam
pilih menu :
1. nasi goreng
2. sate ayam
3. keluar
sate ayam
pilih menu :
1. nasi goreng
2. sate ayam
3. keluar
sistem keluar !!

In [31]:
count = 0 # 1

while count < 5:
    print(count)
    count += 1

0
1
2
3
4

In [39]:
angka = 10
total = 0

while True:
    total += angka # total = 0 + 10 + 12 + 14
    angka += 2
    
    if angka >= 30 or total >= 30:
        break

print(total)

36

In [34]:
data = [10,20,30]

for i in data:
    if i == 20:
        print("ini angka 20")

ini angka 20

In [43]:
total = 0
n = 0

while True:
    angka = int(input("angka : "))
    total += angka
    n += 1
    if n == 5:
        break

print(total / n)

7.6

In [ ]:
total = 0

for i in range(5):
    angka = int(input("angka : "))
    total += angka
    
print(total / n)

In [44]:
for i in range(5):
    print("* * * * *")

* * * * *
* * * * *
* * * * *
* * * * *
* * * * *

In [47]:
for i in range(6):
    print("*" * i)

*
**
***
****
*****

In [55]:
for i in range(5): 
    for x in range(5): 
        print("* ", end = "")
    print("")

* * * * *
* * * * *
* * * * *
* * * * *
* * * * *

In [58]:
for i in range(5):
    for x in range(i):
        if i >= x: 
            print("* ", end = "")
    print("")

*
* *
* * *
* * * *
* * * * *